<h1>Create a new post:</h1>

<%=form_for @post do |form_helper|%>
    <%=form_helper.label :title%>
    <%=form_helper.text_field :title%><br/>

    <%=form_helper.label :content%>
    <%=form_helper.text_field :content%><br/>

    <%=form_helper.label :likes%>
    <%=form_helper.number_field :likes%><br/>

    <%=form_helper.label :blogger_id %>
    <%=form_helper.collection_select :blogger_id, @bloggers, :id, :name %><br/>

    <%=form_helper.label :destination_id %>
    <%=form_helper.collection_select :destination_id, @destinations, :id, :name %><br/>
    
    <%=form_helper.submit "Done"%>
<%end%>